{{!
@param Boolean virtuoso?
@param IRI     source-graph
}}

{{#virtuoso?}}
DEFINE sql:log-enable 2
{{/virtuoso?}}

{{> templates/sparql/prefixes.mustache}}

INSERT {
  GRAPH <{{source-graph}}> {
    ?source schema:contributor ?target .
  }
}
WHERE {
  GRAPH <{{source-graph}}> {
    ?source schema:contributor/schema:name ?contributor .
  }
  GRAPH <http://d-nb.info/standards/elementset/gnd#> {
    VALUES ?nameProperty {
      gndo:preferredNameForThePerson
      gndo:variantNameForThePerson
    }
    ?target ?nameProperty ?contributor .    
  }
}
