{{!
@param Boolean virtuoso?
@param IRI     source-graph
}}

{{#virtuoso?}}
DEFINE sql:log-enable 2
{{/virtuoso?}}

{{> templates/sparql/prefixes.mustache}}

WITH <{{source-graph}}/issued>
DELETE {
  ?s dcterms:issued ?date . 
}
WHERE {
  VALUES ?date {
    "nicht angegeben"
    "[nicht angegeben]"
    "s.a."
    "[o.J.]"
  }
  ?s dcterms:issued ?date .
}
