{{!
@param Boolean virtuoso?
@param IRI     source-graph
}}

{{#virtuoso?}}
DEFINE sql:log-enable 2
{{/virtuoso?}}

{{> templates/sparql/prefixes.mustache}}

WITH <{{source-graph}}/issued>
DELETE {
  ?s dcterms:issued ?_date .
}
INSERT {
  ?s dcterms:issued ?date .
}
WHERE {
  ?s dcterms:issued ?_date .
  FILTER (isLiteral(?_date) && REGEX(?_date, "^ca\\.\\s\\d{4}$"))
  BIND (REPLACE(?_date, "^ca\\.\\s(\\d{4})$", "$1") AS ?date)
}
